<form [formGroup]="formGroups">
  <table #table fxFill mat-table [dataSource]="dataSource" [formArrayName]="'assignmentsForm'" multiTemplateDataRows>

      <!--PlannedDate-->
      <ng-container matColumnDef="PlannedDate&Resource">
          <td mat-cell *matCellDef="let element; let index = dataIndex" style="padding-right: 10px;">
              <div fxLayout='row' fxFill fxLayoutAlign=' center'>
                  <div *ngIf="assignmentsForm.controls[index]?.status ==='INVALID' && element !== expandedElement"
                      class='mark-as-error'>
                  </div>
                  <div fxLayout='column'>
                      <div class='block-ellipsis'>{{assignmentsForm.controls[index]?.get('PlannedDate').value |
                          formatDate: 'UTC'}}</div>
                      <div *ngIf="assignmentsForm.controls[index]?.get('Resource')?.value"
                          class='block-ellipsis fw-default'>
                          {{assignmentsForm.controls[index]?.get('Resource')?.value.Name}}</div>
                  </div>
              </div>
          </td>
      </ng-container>

      <!--PlannedStartTime&PlannedEndTime-->
      <ng-container matColumnDef="PlannedStartTime&PlannedEndTime">
          <td mat-cell *matCellDef="let element; let index = dataIndex" style="padding-right: 10px;">
              <div fxLayout='column' class='block-ellipsis'>
                  <span>{{ assignmentsForm.controls[index]?.get('PlannedStartTime')?.value}}</span>
                  <span
                      *ngIf="assignmentsForm.controls[index]?.get('PlannedStartTime')?.value && assignmentsForm.controls[index]?.get('PlannedEndTime')?.value ">&nbsp;-&nbsp;</span>
                  <span>{{assignmentsForm.controls[index]?.get('PlannedEndTime')?.value}}</span>
              </div>
          </td>
      </ng-container>

      <!--Status-->
      <ng-container matColumnDef="Status">
          <td mat-cell *matCellDef="let element; let index = dataIndex" style="padding-right: 10px;">
              <div *ngIf="assignmentsForm.controls[index]?.get('Status')?.value && assignmentsForm.controls[index]?.get('Status')?.value !=='NA'"
                  class='block-ellipsis'>
                  <span *ngIf="assignmentsForm.controls[index]?.get('Status')?.value !== 'Draft'">{{'IssueStatus_' +
                      assignmentsForm.controls[index]?.get('Status')?.value | translator}}</span>
                  <span
                      *ngIf="assignmentsForm.controls[index]?.get('Status')?.value === 'Draft'">{{'MaintenanceScheduleStatus_Draft'|
                      translator}}</span>
              </div>
          </td>
      </ng-container>

      <!--Action-->
      <ng-container matColumnDef="Action">
          <td mat-cell *matCellDef="let element; let index = dataIndex" style="padding-right: 10px;">
              <!-- <button *ngIf='canAddNew' (click)='addAssignmentClick(index)' mat-icon-button>
                  <mat-icon>add</mat-icon>
              </button>
              <button
                  [ngStyle]="{'display':isManagedCompany && assignmentsForm.controls[index]?.get('InitStatus').value === 'Cancelled' ? 'none' : 'block' }"
                  (click)='onDeleteLine(index)' mat-icon-button>
                  <mat-icon>remove</mat-icon>
              </button> -->
              <button mat-icon-button>
                  <mat-icon>{{element === expandedElement ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
          </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element;let index = dataIndex" [attr.colspan]="displayedColumns.length"
              [formGroupName]="index" class='expanded-row'>
              <div class="element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'"
                  fxLayout='column'>
                  <!-- PlannedDate/Intervener -->
                  <div fxLayout='row' fxLayoutGap='16px' fxLayoutAlign="start start">
                      <mat-form-field ntkOnlyDatePicker fxFlex='50'>
                          <input #inputplannedDate fxFlex matInput [matDatepicker]="plannedDate"
                              [placeholder]="'lbPlannedDate' | translator" [ntk-min-date]
                              formControlName="PlannedDate">
                          <mat-datepicker-toggle matSuffix [for]="plannedDate" tabindex="-1"></mat-datepicker-toggle>
                          <mat-datepicker touchUi='true' #plannedDate></mat-datepicker>
                          <mat-error>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedDate').errors?.matDatepickerParse">{{'lbInvalidValue'
                                  | translator}}</span>
                              <span *ngIf="assignmentsForm.controls[index]?.get('PlannedDate').errors?.overlapping">
                                  {{'errOverlappingAssignments' | translator :
                                  (assignmentsForm.controls[index]?.get('PlannedDate').value | formatDate) : '' :
                                  false}}
                              </span>
                          </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex='50' *ngIf='isManagedCompany; else emptyDiv'>
                          <ntk-mat-dropdown fxFlex (onGetData)="getInterveners($event)"
                              [titleKey]="'lbIntervener' | translator" [placeholder]="'lbIntervener' | translator"
                              formControlName="Resource">
                              <ng-template let-item="item">
                                  <div class="dropdown-child-item">
                                      <span style="float:left;">{{item.Name}}</span>
                                      <span *ngIf="item.Role"
                                          style="font-style: italic;float:left;">&nbsp;({{item.IsStandardUserRole ?
                                          ("Role_" + item.Role | translator) : item.Role}})</span>
                                      <span *ngIf="item.IsDefault" style="font-style: italic;float:left;">&nbsp;({{
                                          'lbDefaultContact' | translator}})</span>
                                  </div>
                              </ng-template>
                          </ntk-mat-dropdown>
                      </mat-form-field>
                  </div>
                  <!-- PlannedStartTime/PlannedEndTime -->
                  <div fxLayout='row' fxLayoutGap='16px'>
                      <mat-form-field fxFlex='50'>
                          <ntk-time-input [placeholder]="'lbStartTime' | translator" separator='h' dataType='string'
                              formControlName="PlannedStartTime">
                          </ntk-time-input>
                          <mat-error fxLayout='column'>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedStartTime').errors?.format">{{'lbInvalidValue'
                                  | translator}}</span>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedStartTime').errors?.range">{{'lbInvalidTimeRange'
                                  | translator}}</span>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedStartTime').errors?.invalid">{{'lbInvalidValue'
                                  | translator}}</span>
                          </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex='50'>
                          <ntk-time-input [placeholder]="'lbEndTime' | translator" separator='h' dataType='string'
                              formControlName="PlannedEndTime">
                          </ntk-time-input>
                          <mat-error fxLayout='column'>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedEndTime').errors?.format">{{'lbInvalidValue'
                                  | translator}}</span>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedEndTime').errors?.range">{{'lbInvalidTimeRange'
                                  | translator}}</span>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedEndTime').errors?.invalid">{{'lbInvalidValue'
                                  | translator}}</span>
                          </mat-error>
                      </mat-form-field>
                  </div>
                  <!-- Workload/Status -->
                  <div fxLayout='row' fxLayoutGap='16px'>
                      <mat-form-field fxFlex='50'>
                          <ntk-duration-input [placeholder]="'lbPlannedWorkload' | translator"
                              formControlName="PlannedWorkload" [maxValue]="24" [minValue]='0'>
                          </ntk-duration-input>
                          <mat-error>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedWorkload').errors?.min">{{'lbInvalidValue'
                                  | translator}}</span>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedWorkload').errors?.max">{{'lbInvalidValue'
                                  | translator}}</span>
                              <span
                                  *ngIf="assignmentsForm.controls[index]?.get('PlannedWorkload').errors?.invalid">{{'lbInvalidValue'
                                  | translator}}</span>
                          </mat-error>
                      </mat-form-field>
                      <mat-form-field *ngIf='isManagedCompany; else emptyDiv' fxFlex='50'>
                          <mat-select formControlName="Status" disableOptionCentering>
                              <mat-option
                                  *ngFor="let status of allStatus | availableStatus : assignmentsForm.controls[index].value : job : isManagedCompany"
                                  [value]='status'>
                                  <span *ngIf="status !== 'Draft'">{{'IssueStatus_' + status | translator}}</span>
                                  <span *ngIf="status === 'Draft'">{{'MaintenanceScheduleStatus_Draft'|
                                      translator}}</span>
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>
          </td>
      </ng-container>
      <ng-container matColumnDef="swipeAction">
          <td mat-cell *matCellDef="let element;let index = dataIndex">
              <button *ngIf='canAddNew' (click)='addAssignmentClick(index)' mat-icon-button>
                  <mat-icon>add</mat-icon>
              </button>
              <button
                  *ngIf="!(isManagedCompany && assignmentsForm.controls[index]?.get('InitStatus').value === 'Cancelled')"
                  (click)='onDeleteLine(index)' mat-icon-button>
                  <mat-icon>delete</mat-icon>
              </button>
          </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: ['swipeAction']" class="table-row element-row hidden-action"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns; let index = dataIndex"
          class="table-row element-row transform-0" [class.expanded-row]="expandedElement === element"
          (click)="expandRow(element)" [id]='index' #elementRow></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <ng-template #emptyDiv>
      <div fxFlex='50'></div>
  </ng-template>
</form>